<main class="mx-auto max-w-7xl px-6 flex flex-col items-center justify-center h-screen w-full">
    <article class="card w-96 bg-base-200 shadow-xl">
        <header>
            <hgroup>
                <h1 class="mt-2 text-center text-3xl font-bold tracking-tight text-base-content">
                    Email sent!
                </h1>
                <h2 class="text-center mt-1">
                    We have sent you a password recovery email.
                </h2>
            </hgroup>
        </header>
    </article>
</main>