<main class="mx-auto max-w-7xl px-6">
    <div class="flex flex-col items-center justify-center h-screen w-full">
        <h2 class="mt-2 text-center text-3xl font-bold tracking-tight text-base-content">
            Reset Your Password
        </h2>
        <form method="POST" action="?" class="flex flex-col items-center space-y-2 w-full pt-4">
            <div class="form-control w-full max-w-md">
                <label for="password" class="label font-medium pb-1">
                    <span class="label-text">Password</span>
                </label>
                <input type="password" name="password" class="input input-bordered w-full max-w-md" />
            </div>
            <div class="form-control w-full max-w-md">
                <label for="passwordConfirm" class="label font-medium pb-1">
                    <span class="label-text">Confirm Password</span>
                </label>
                <input type="password" name="passwordConfirm" class="input input-bordered w-full max-w-md" />
            </div>
            <div class="w-full max-w-md pt-2">
                <button type="submit" class="btn btn-primary btn-outline w-full">Reset</button>
            </div>
        </form>
    </div>
</main>